{% extends 'base.html' %}
{% load static %}


{% block main %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://cardpress.com.br/img/login.png" id="icon" alt="User Icon" />
    </div>
    {% if Nome == 'Doglas'%}
      reptiliano viado
    {% endif %}

    <!-- Login Form -->
    <form action="" method="post">{% csrf_token %}
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="senha">
      <input type="submit" class="fadeIn fourth" value="Entrar">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Esqueci minha senha</a><br/>
      <a class="underlineHover" href="#">Criar Usuário</a>
    </div>

  </div>
</div>
{% endblock %}
