{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="border mt-5 px-5 pt-5 shadow rounded bg-white ">
<div class="fadeIn first mb-5" align="middle">
  <img class="w-75 h-75" src="{% static 'cadastro.jpeg' %}"/>
</div>
<form name="form" id="form" action="//" method="post">
  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
        <input type="text" id="form3Example1" class="form-control" />
        <label class="form-label" for="form3Example1">Nome</label>
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <input type="text" id="form3Example2" class="form-control" />
        <label class="form-label" for="form3Example2">Sobrenome</label>
      </div>
    </div>
  </div>

  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="form3Example3" class="form-control" />
    <label class="form-label" for="form3Example3">E-mail</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="form3Example4" class="form-control" />
    <label class="form-label" for="form3Example4">Senha</label>
  </div>

  <!-- Submit button -->
  <div class="mb-4">
    <a type="submit" class="btn btn-primary" onclick="ABC()">Cadastrar</a>
    <a class="btn btn-primary btn-block" href="/">Voltar</a>
  </div>

</form>
</div>
{% endblock %}
